%%-*- mode: erlang -*-
{erl_opts, [{parse_transform, lager_transform}]}. 

{deps, [{lager, ".*", {git, "git://github.com/basho/lager.git", "master"}},
        {joy_tools, ".*", {git, "git://github.com/wsl919/joy_tools.git", "master"}},
        {ranch, ".*", {git, "git://github.com/extend/ranch.git", "master"}}
        ]}.


